@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

input{
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Dosis', sans-serif;
    border-color: lightblue
}